Package: com.iosspoof.tweak
Name: iOSSpoof
Version: 1.0.3
Architecture: iphoneos-arm
Description: Advanced device spoofer with transparent proxy, carrier/geo spoofing and anti-detection.
Maintainer: iOS Spoof
Author: iOS Spoof
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0), uikittools
