<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Required for libkrw tfp0 fallback provider (checkra1n/unc0ver). -->
    <!-- libkrw-dopamine does not need this entitlement. -->
    <key>task_for_pid-allow</key>
    <true/>
    <!-- Required by libkrw-dopamine for kalloc/kmap/kcall primitives. -->
    <key>com.apple.security.exception.iokit-user-client-class</key>
    <array>
        <string>IOSurfaceRootUserClient</string>
    </array>
</dict>
</plist>
